<div class="container-fluid" id="menu">
    <h1 class="text-center wow fadeIn" data-wow-delay="1.8s">Menu</h1>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2"  >
            <div class="text-center wow fadeIn" data-wow-delay="2.0s" >
                <img src="/assets/lunch.logo.jpg "  style="width:200px;height:200px;display:block;margin:auto;"> 
                <%= link_to 'Lunch', menus_lunch_index_path %>
            </div> 
        </div>
        <div class="col-sm-4" >
            <div class="text-center wow fadeIn" data-wow-delay="2.0s" > 
                  <img src="/assets/dinner.logo.png "  style="width:200px;height:200px;display:block;margin:auto;">
                  <%= link_to 'Dinner' , menus_dinner_index_path %>  
            </div>  
        </div>
    </div>
</div>