<header id="home">
  <div class="container text-center" >
    <div  class="jumbotron img-responsive" id="jumbo-slogan" >
      <div class="row">
        <h3 class="wow fadeIn" data-wow-delay="0.4s"   >welcome to the</h3>
        <h1 class="wow fadeIn" data-wow-delay="0.5s" >Freshest Taste of Italy</h1>
        <h3 class="wow fadeIn" data-wow-delay="0.6s" >the place of </h3>
        <h1 class="wow fadeIn" data-wow-delay="0.7s" >Freshest Ingredients</h1>
      </div>
    </div>
  </div>
</header>