<header  id="home">
  <div class="container text-center vertical-align" >
    <div class="row">
      <h3 class="wow fadeIn" data-wow-delay="1s"   >welcome to the</h3>
      <h1 class="wow fadeIn" data-wow-delay="1.2s" >Freshest Taste of Italy</h1>
      <h3 class="wow fadeIn" data-wow-delay="1.4s" >the place of </h3>
      <h1 class="wow fadeIn" data-wow-delay="1.6s" >Freshest Ingredients</h1>
    </div>
  </div>
</header>