<h1>Here is whatr is for lunch</h1>
Specials

1. Ciccero's Treat - Popular
2 large pizzas with 3 toppings and 3 cans of soda.
$23.50
2. Pasta and Dinner Salad Special
2 pastas of your choice, 2 dinner salads, 2 orders of garlic bread, and 2 cans of soda.
$19.50 +
3. Large 3 Topping Pizza, Large Green Salad and 3 Sodas
$19.50
4. Two Sandwiches, 2 Salads, 2 Cans of Soda
$19.50
5. 1 Small 2 Topping Pizza, 1 Pasta, 2 Dinner Salads, 2 Sodas - Popular
$19.50 +
6. One Large Pizza with Two Toppings and Six Wings
<%#= link_to "back", root_path %>