<% content_for :head do %>
  <%= stylesheet_link_tag 'dinner', media: 'all', 'data-turbolinks-track' => true %>
<% end %>
<h1>Here is whatr is for dinner</h1>
<p>Dinner Dinner</p>
<%#= link_to "back", root_path %>