<%= stylesheet_link_tag 'abouts' %>

<div  class="container-fluid" id="about">
    <div class="jumbotron" id="jumbo-about"> 
        <div class="row">
            <div class="col-md-12 text-center" >
                <h1>About US</h1>
              WE ARE.
There’s nothing cookie-cutter about Pizza Hut. Not our pizzas.  

WHAT WE’RE ABOUT.
At Pizza Hut, we don’t just make pizza. We make people’s days.  

WHERE WE COME FROM.
More than 55 years ago, two brothers borrowed $600 from their mom and set out to change 
the way the world experienced pizza. 
From our modest beginnings, we’ve grown to become the largest pizza company in the world.
And since 1958, we’ve been spinning small-town passion and big-minded innovation into a 
globe-trotting powerhouse of flavor.

No matter where you find us, we’re making sure each meal our customers enjoy is delicious,
bold, and one-of-a-kind. We have more than 15,000 restaurants and 300,000 team members in
more than 90 countries. Instead of following trends, we set them by talking to fans and 
learning from our restaurants all over the world.


            </div>
        </div>
    </div>
    
    <div class="jumbotron" id="jumbo-about">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Our Performance</h2>
            </div>
        </div>
    </div>
</div>

