<%= stylesheet_link_tag 'abouts' %>

<div  class="container-fluid" id="about">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>About US</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 text-center" >
            
            
              WE ARE.
There’s nothing cookie-cutter about Pizza Hut. Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.

We’re not for people who want to blend in: pushing boundaries is part of our heritage. Whether it’s the original Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver the most delicious innovations in the industry.

WHAT WE’RE ABOUT.
At Pizza Hut, we don’t just make pizza. We make people’s days. Pizza Hut was built on the belief that pizza night should be special, and we carry that belief into everything we do. What’s our purpose at Pizza Hut? Moments of Excitement.  All made possible by our flavor, innovation and, most importantly, by unlocking potential in our team members.

With more than 55 years of experience under our belts, we understand how to best serve our customers through tried and true service principles. Instead of following trends, we set them. We create food we’re proud to serve and deliver it fast, with a smile.

We’re the people who first delivered pizza to the White House. We put a pizza in outer space.  We took social media by storm. Our ordering app was featured in an iPhone commercial. Pizza Hut stands for bold innovation.

WHERE WE COME FROM.
More than 55 years ago, two brothers borrowed $600 from their mom and set out to change the way the world experienced pizza. From our modest beginnings, we’ve grown to become the largest pizza company in the world. And since 1958, we’ve been spinning small-town passion and big-minded innovation into a globe-trotting powerhouse of flavor.

No matter where you find us, we’re making sure each meal our customers enjoy is delicious, bold, and one-of-a-kind. We have more than 15,000 restaurants and 300,000 team members in more than 90 countries. Instead of following trends, we set them by talking to fans and learning from our restaurants all over the world.

And yes, we’re pizza people. But we’re also human people; we lead with our hearts, we believe in giving back to the global community. The BOOK IT! Program encourages 14 million students in more than 35,000 elementary schools in the US each year to reach a reading goal set by their teachers. In 2014, Pizza Hut restaurants around the world partnered with the World Food Programme to raise more than $3.8 million and provided more than 15 million meals to children in need. And, in 2015, we have the goal to help 150 million people around the world unlock their potential through literacy and reading.
        </div>
    </div>
</div>

