<%= stylesheet_link_tag 'abouts' %>

<div  class="container-fluid" id="about">
    <div class="jumbotron" id="jumbo-about"> 
        <div class="row">
            <div class="col-md-12 text-center" >
                <h1>About US</h1>
              WE ARE.
There’s nothing cookie-cutter about Pizza Hut. Not our pizzas.  

WHAT WE’RE ABOUT.
At Pizza Hut, we don’t just make pizza. We make people’s days.  

WHERE WE COME FROM.
More than 55 years ago, two brothers borrowed $600 from their mom and set out to change the way the world experienced pizza. From our modest beginnings, we’ve grown to become the largest pizza company in the world. And since 1958, we’ve been spinning small-town passion and big-minded innovation into a globe-trotting powerhouse of flavor.

No matter where you find us, we’re making sure each meal our customers enjoy is delicious, bold, and one-of-a-kind. We have more than 15,000 restaurants and 300,000 team members in more than 90 countries. Instead of following trends, we set them by talking to fans and learning from our restaurants all over the world.

And yes, we’re pizza people. But we’re also human people; we lead with our hearts, we believe in giving back to the global community. The BOOK IT! Program encourages 14 million students in more than 35,000 elementary schools in the US each year to reach a reading goal set by their teachers. In 2014, Pizza Hut restaurants around the world partnered with the World Food Programme to raise more than $3.8 million and provided more than 15 million meals to children in need. And, in 2015, we have the goal to help 150 million people around the world unlock their potential through literacy and reading.
            </div>
        </div>
    </div>
</div>

