// Place all the styles related to the Abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about {
    padding-top: 50px;
    height: 80%;
    background-image: url("pizzaOven.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    opacity: .9;
    color: white;
}

#jumbo-about{
    margin-top: 20px;
    height: 80%;
    color: black;
    font-size: 20px;
    opacity: .7;
    }
    
    #about, #menu, #contact{
    padding-top: 50px;
    padding-bottom: 50px;
}