/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap";
@import "animate"; 
@import "font-awesome";

html {
    height: 100%;
}

body{
    font-family: 'Lato';
    position: relative;
   
}

#body-bg-image{
    background-image: image-url("/assets/pizzaOven.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; 
  
}

// NAVBAR SECTION
.navbar{
    height:60px;   
}

.navbar-default{
    background: #fff;
}

.navbar-logo{
     padding-left: 5px;
}

.navbar-nav {
    margin: 0.2px -15px;
}
#nav-items{
    background: #fff;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
}

#nav-items li a {
    color: black;
}

#nav-items li a:hover {
    color: gray;
    
}

.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  border-bottom: 5px solid gray;
  margin-top: 1px; /*add spacing*/
}


.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home, #about, #menu, #contact{
    padding-top: 50px;
    padding-bottom: 50px;
}

#home{
    height: 500px;
}
  
  
#jumbo-slogan {
    margin-top: 72px;
    height: 50%;
    color: black;
    font-size: 20px;
    opacity: .8;
}


// MENU SECTION
#menu{
    height: 50%; 
}


#lunch-logo{
    width:200px;
    height:200px;
    display:block;
    margin:auto;
}
// lunch section
 .box {
  float: left;
  width: 40%;
  margin: 20px; 
  margin-top: 100px;
}

 .box .top {
  padding: 6px;
  background-color: blue;
  color: white;
  cursor: pointer;
  border: 1px solid black;
}

 .box .bottom {
  padding: 6px;
  background-color: red;
  color: white;
  display: none;
  border: 1px solid black;
}


#ordered-list{
//  position: fixed;
//  border: 1px solid lightblue;
}





// about has it is own scss file 


    
//our pefromance section 
.performance-rate {
    height: 230px;
}

.performance-rate a {
    color: black;
    font-weight: 300;
    padding: 35px;
}

   
// CONTACT SECTIOn 
#contact {  
    height: 25%;
}   

#jumbo-contact{
    margin-top: 20px;
    height: 50%;
    color: black;
    font-size: 20px;
    opacity: .8;
    }    
    

#mySelect{
    width: 180px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    border: 0px;
    background-repeat: no-repeat;
    background-image: image-url('down-arrow.jpg');
    background-position: right;
    background-size: 20px 20px;
    background-color: rgba(248, 248, 248,0.6) ;
    width: 250px;
    
}
 

#mySelect:focus{
    -webkit-outline:none;
    -moz-outline:none;
    outline:none;
}

#google-map{
   width: 70%;
}

@media(min-width:768px) {
    .navbar {
        //padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    #body-bg-image{
    background-image: image-url("/assets/pizzaOven768width.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; 
  
    }
    #nav-items{
    background: #fff;  
    font-size: 16px;
    font-weight: 600;
    }
    
    #menu,#about,#contact {
        padding-top:45px;
       
    }
     
    
    .navbar-default .navbar-nav > li > a:hover { 
      border-bottom:none;
    }
}
    
    
    
