/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap";
@import "animate"; 
@import "font-awesome";

body{
    font-family: 'Lato';
    position: relative;
}

.navbar{
    height:60px;   
}

.navbar-default{
    background: #fff;
}

.navbar-logo{
     padding-left: 5px;
}

.navbar-nav {
    //margin: 0.2px -15px;
}
#nav-items{
    background: #fff;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
}

#nav-items li a {
    color: black;
}

#nav-items li a:hover {
    color: gray;
    
}

.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  border-bottom: 5px solid gray;
  margin-top: 1px; /*add spacing*/
}

.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home, #about, #menu, #contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
#home{
    background: url(/assets/1.jpeg) fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 500px;
    color: #fff;
}
    
    
#contact { 
    height: 80%;
    background-image: url("pizzacontact.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    opacity: .9;
    color: #fff;
}   
     
// menu section  
#menu{
    height: 80%;
    color:black; 
}

#mySelect{
    width: 180px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    border: 0px;
    background: no-repeat 
                url('down-arrow.jpg')
                right;
    background-size: 20px 20px;
}
 

#mySelect:focus{
    -webkit-outline:none;
    -moz-outline:none;
    outline:none;
}

#google-map{
   width: 90%;
}


@media only screen and (max-width: 768px) {
    #nav-items{
    background: #fff;  
    font-size: 16px;
    font-weight: 600;
    }
    
    #menu,#about,#contact {
        padding-top:25px;
       
    }
     
    
    .navbar-default .navbar-nav > li > a:hover {
      color: #333;
      border-bottom: 5px solid gray;
      margin-top: 1px; /*add spacing*/
    }
}