@import "bootstrap";
@import "animate"; 
@import "font-awesome";

html {
    height: 100%;
}
body{
    font-family: 'Lato';
    position: relative;
}
#body-bg-image{
    background-image: image-url("/assets/pizza-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover; 
  
}
.navbar{
    height:60px;   
}
.navbar-default{
    background: #fff;
}
.navbar-logo{
     padding-left: 5px;
}
.navbar-nav {
    margin: 0.2px -15px;
}
#nav-items{
    background: #fff;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 500;
}
#nav-items li a {
    color: black;
}
#nav-items li a:hover {
    color: gray;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #333;
  border-bottom: 5px solid gray;
  margin-top: 1px; /*add spacing*/
}
#home, #about, #menu, #contact{
    padding-top: 50px;
    padding-bottom: 50px;
}
#home{
    height: 500px;
}
#jumbo-slogan {
    margin-top: 72px;
    padding-top: 10px;
    padding-bottom: 40px;
    height: 50%;
    color: black;
    font-size: 20px;
    opacity: .8;
}
#menu{
    height: 50%; 
}
#lunch-logo{
    width:280px;
    height:350px;
    display:block;
    margin:auto;
}
#dinner-logo{
    width:280px;
    height:350px;
    display:block;
    margin:auto;
}


// lunch section
.box {
  float: left;
  width: 100%;
  font-size: 1.4em;
}
 .box .top { 
  padding: 6px;
  background-color: #66ff66;
  color: black;
  cursor: pointer;
  border: 1px solid black;
}
.box .bottom {
  padding: 6px;
  background-color: red;
  color: black;
  display: none;
}
.box-nip{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
.dashed-red{
  padding: 30px;
  margin: 15px;
  border: 10px dashed #fff;
  border-color: red;
}
h5{
 font-size: 1.5em;
}
@media only screen and (max-width: 425px) {
    .box {
        font-size: 14px;
        font-weight: 500;
    }
    
     .box .top {
      padding-bottom: 35px;
     }
}

 
@media only screen and (max-width: 1440px) {
    .box {
        font-size: 1.75em;
        font-weight: 700;
    }
}
// about has it is own scss file 
//our pefromance section 
.performance-rate {
    height: 230px;
}
.performance-rate a {
    color: black;
    font-weight: 300;
    padding: 35px;
}
// CONTACT SECTIOn 
#contact {  
    height: 25%;
}   
#jumbo-contact{
    margin-top: 20px;
    height: 50%;
    color: black;
    font-size: 20px;
    opacity: .8;
    }  
#mySelect{
    width: 180px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    border: 0px;
    background-repeat: no-repeat;
    background-image: image-url('down-arrow.jpg');
    background-position: right;
    background-size: 20px 20px;
    background-color: rgba(248, 248, 248,0.6) ;
    width: 250px;
}
#mySelect:focus{
    -webkit-outline:none;
    -moz-outline:none;
    outline:none;
}
#google-map{
   width: 70%;
}
@media(min-width:768px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}
@media only screen and (max-width: 768px) { 
    #nav-items{
    background: #fff;  
    font-size: 16px;
    font-weight: 600;
    }
    #menu,#about,#contact {
        padding-top:45px;
    }
    .navbar-default .navbar-nav > li > a:hover { 
      border-bottom:none;
    }
}
@media only screen and (max-width: 1000px) {
    #ordered-list{
      position: static;
   }
}
    
    
