<!-- Start Header -->
<header id="home">
   
  <div class="container text-center vertical-align">
  <br>
   
        <div class="row">
        <!--
      <h1 class="logo wow fadeIn">the<strong>setup</strong></h1>
      <h3 class="wow fadeIn" data-wow-delay="0.5s">A responsive, one page, HTML5 Bootstrap theme.<br>Created by <strong>Ehab Alaa</strong>.<h3>
      <a href="#about" class="learn-more">
        <i class="fa fa-angle-down third-arrow wow fadeIn" data-wow-delay="1.5s"></i>
        <i class="fa fa-angle-down second-arrow wow fadeIn" data-wow-delay="1.3s"></i>
        <i class="fa fa-angle-down first-arrow wow fadeIn" data-wow-delay="1s"></i>
      </a>
      -->
      <h3>welcome to the</h3>
      <h1>Freshest Taste of Italy</h1>
      <h3>the place of </h3>
      <h1>Freshest Ingredients</h1>
    </div>
    <!-- Wrapper for slides -->
     

    
  </div>
</div>
</header>
